.pp-carousel {
  height: 100%;
  width: 100%;
}

.pp-carousel-skel {
  height: 100%;
  width: 100%;
  min-height: 300px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.12);
}
